# Port to bind backend Express server
PORT=5000

# Server Node execution context (development | production)
NODE_ENV=development

# Neon PostgreSQL connection string with PgBouncer connection pooling
DATABASE_URL=postgresql://[user]:[password]@[host]:5432/[db_name]?sslmode=require&pgbouncer=true

# Neon PostgreSQL direct connection string bypassing PgBouncer (Required for Prisma migrations)
DIRECT_URL=postgresql://[user]:[password]@[host]:5432/[db_name]?sslmode=require

# Secure encryption key used to sign access tokens (JWT)
JWT_SECRET=your_super_secret_access_jwt_key_here
JWT_EXPIRES_IN=15m

# Secure encryption key used to sign refresh tokens (JWT)
JWT_REFRESH_SECRET=your_super_secret_refresh_jwt_key_here
JWT_REFRESH_EXPIRES_IN=7d

# BCRYPT Work Factor Salt Rounds
BCRYPT_SALT_ROUNDS=12

# Frontend Application Client root URL allowed to request API methods (CORS security setup)
CLIENT_URL=http://localhost:5173
